http:
  routers:
    dashboard:
      rule: "Host(`traefik.dmz.{{ base_domain }}`)"
      entryPoints:
        - websecure
      service: api@internal
      middlewares:
        - secure-headers
      tls:
        certResolver: cloudflare
