---
proxy_services_lan:
  - name: pve
    label: "Proxmox VE"
    domain: "pve.svc.{{ base_domain }}"
    backend_url: "https://{{ hostvars['pve-node-01']['ansible_host'] }}:{{ proxmox_gui_port }}"
    backend_tls_skip_verify: true
    auth: oidc
    oidc:
      client_id: pve
      realm_name: authentik
      username_claim: email
      autocreate: true
      target: pve

  - name: pbs
    label: "Proxmox Backup Server"
    domain: "pbs.svc.{{ base_domain }}"
    backend_url: "https://{{ hostvars['pbs-01']['ansible_host'] }}:{{ pbs_gui_port }}"
    backend_tls_skip_verify: true
    auth: oidc
    oidc:
      client_id: pbs
      realm_name: authentik
      username_claim: email
      autocreate: true
      target: pbs

  - name: unifi
    label: "UniFi OS Server"
    domain: "{{ unifi_domain }}"
    backend_url: "https://{{ hostvars['unifi-01']['ansible_host'] }}:11443"
    backend_tls_skip_verify: true
    auth: none

  - name: homepage
    label: "Homepage"
    domain: "{{ svc_homepage_domain }}"
    backend_url: "http://homepage:3000"
    auth: none

  - name: amp
    label: "AMP Game Panel"
    domain: "{{ amp_domain }}"
    backend_url: "http://{{ amp_ads_host }}:{{ amp_ads_port }}"
    auth: none
