---
- name: Check if Cloud Templates already exist
  ansible.builtin.command: "qm status {{ item.template_id }}"
  register: pve_template_status
  ignore_errors: true
  changed_when: false
  loop: "{{ pve_cloud_templates }}"

- name: Ensure Proxmox snippet directory exists
  ansible.builtin.file:
    path: "{{ pve_snippet_path }}"
    state: directory
    mode: '0755'
  become: true
  loop: "{{ pve_cloud_templates }}"
  loop_control:
    index_var: idx
  when: pve_template_status.results[idx].rc is defined and pve_template_status.results[idx].rc != 0

- name: Generate Cloud-Init User-Data Snippet
  ansible.builtin.copy:
    dest: "{{ pve_snippet_path }}/{{ item.os_type }}-{{ item.release }}-base.yml"
    mode: '0644'
    content: |
      #cloud-config
      hostname: {{ item.os_type }}-{{ item.release }}
      manage_etc_hosts: true
      user: {{ proxmox_user }}
      ssh_authorized_keys:
        - {{ lookup('file', 'files/' + proxmox_user + '.pub') }}
      chpasswd: { expire: False }
      sudo: ALL=(ALL) NOPASSWD:ALL
      package_update: true
      package_upgrade: true
      packages:
        - qemu-guest-agent
        {% if item.os_type == 'ubuntu' %}- ufw{% endif %}
      runcmd:
        - systemctl enable --now qemu-guest-agent
        {% if item.os_type == 'ubuntu' %}
        - ufw allow 2222/tcp
        - ufw --force enable
        {% endif %}
        - sed -i 's/#Port 22/Port 2222/' /etc/ssh/sshd_config
        - systemctl restart ssh
  become: true
  loop: "{{ pve_cloud_templates }}"
  loop_control:
    index_var: idx
  when: pve_template_status.results[idx].rc is defined and pve_template_status.results[idx].rc != 0

- name: Download Cloud Image
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "/tmp/{{ item.os_type }}-{{ item.release }}.img"
    mode: '0644'
  loop: "{{ pve_cloud_templates }}"
  loop_control:
    index_var: idx
  when: pve_template_status.results[idx].rc is defined and pve_template_status.results[idx].rc != 0

- name: Create VM Shell for Template
  ansible.builtin.command: >
    qm create {{ item.template_id }} 
    --name "tpl-{{ item.os_type }}-{{ item.release }}" 
    --memory {{ item.template_mem }} 
    --net0 virtio,bridge={{ pve_bridge }} 
    --scsihw virtio-scsi-pci
  become: true
  loop: "{{ pve_cloud_templates }}"
  loop_control:
    index_var: idx
  when: pve_template_status.results[idx].rc is defined and pve_template_status.results[idx].rc != 0

- name: Import Cloud Image to Storage Pool
  ansible.builtin.command: "qm importdisk {{ item.template_id }} /tmp/{{ item.os_type }}-{{ item.release }}.img {{ item.storage_pool }}"
  become: true
  loop: "{{ pve_cloud_templates }}"
  loop_control:
    index_var: idx
  when: pve_template_status.results[idx].rc is defined and pve_template_status.results[idx].rc != 0

- name: Attach Disk and Cloud-Init Drive
  ansible.builtin.command: >
    qm set {{ item.template_id }} 
    --scsi0 {{ item.storage_pool }}:vm-{{ item.template_id }}-disk-0
    --ide2 {{ item.storage_pool }}:cloudinit 
    --boot c --bootdisk scsi0 
    --serial0 socket --vga serial0 --agent enabled=1
  become: true
  loop: "{{ pve_cloud_templates }}"
  loop_control:
    index_var: idx
  when: pve_template_status.results[idx].rc is defined and pve_template_status.results[idx].rc != 0

- name: Apply Cloud-Init Snippet and Network Defaults
  ansible.builtin.command: >
    qm set {{ item.template_id }}
    --cicustom "user={{ pve_snippet_storage }}:snippets/{{ item.os_type }}-{{ item.release }}-base.yml"
    --ipconfig0 ip=dhcp
  become: true
  loop: "{{ pve_cloud_templates }}"
  loop_control:
    index_var: idx
  when: pve_template_status.results[idx].rc is defined and pve_template_status.results[idx].rc != 0

- name: Convert VM to Template
  ansible.builtin.command: "qm template {{ item.template_id }}"
  become: true
  loop: "{{ pve_cloud_templates }}"
  loop_control:
    index_var: idx
  when: pve_template_status.results[idx].rc is defined and pve_template_status.results[idx].rc != 0

- name: Cleanup temporary image
  ansible.builtin.file:
    path: "/tmp/{{ item.os_type }}-{{ item.release }}.img"
    state: absent
  loop: "{{ pve_cloud_templates }}"
  loop_control:
    index_var: idx
  when: pve_template_status.results[idx].rc is defined and pve_template_status.results[idx].rc != 0