---
- Cloud:
    - CrowdSec:
        href: "https://app.crowdsec.net"
        description: Threat Intelligence Dashboard
        icon: crowdsec.png

    - GitHub:
        href: "https://github.com/chaseAndeen"
        description: Source Code
        icon: github.png

    - CloudFlare:
        href: "https://dash.cloudflare.com"
        description: DNS
        icon: cloudflare.png

    - AWS:
        href: "https://kernelstack.awsapps.com/start"
        description: AWS SSO Portal
        icon: aws.png

- Applications:
    - AMP:
        href: "https://{{ amp_domain }}"
        description: Game Panel
        icon: amp.png

- Networking:
    - OPNsense:
        href: "https://{{ svc_opnsense_domain }}"
        description: Firewall & Router
        icon: opnsense.png

    - UniFi:
        href: "https://{{ unifi_domain }}"
        description: Network Controller
        icon: unifi.png

- Virtualization:
    - Proxmox VE:
        href: "https://pve.svc.kernelstack.dev"
        description: Hypervisor
        icon: proxmox.png

    - Proxmox Backup Server:
        href: "https://pbs.svc.kernelstack.dev"
        description: Backup Server
        icon: proxmox.png

- Storage:
    - TrueNAS:
        href: "https://{{ svc_truenas_host }}"
        description: Network Attached Storage
        icon: truenas.png

- Services:
    - Traefik:
        href: "https://{{ svc_traefik_domain }}"
        description: Reverse Proxy
        icon: traefik.png

    - Authentik:
        href: "https://{{ svc_authentik_domain }}"
        description: Identity Provider
        icon: authentik.png
