---
title: KernelStack
background:
  blur: sm
  opacity: 50
theme: dark
color: slate
headerStyle: boxed
layout:
  Applications:
    style: row
    columns: 3
  Networking:
    style: row
    columns: 2
  Virtualization:
    style: row
    columns: 2
  Storage:
    style: row
    columns: 1
  Services:
    style: row
    columns: 3
  Cloud:
    style: row
    columns: 3
