api:
  dashboard: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: cloudflare
        domains:
          - main: "dmz.kernelstack.dev"
            sans:
              - "*.dmz.kernelstack.dev"

certificatesResolvers:
  cloudflare:
    acme:
      email: "{{ cert_email }}"
      storage: /data/acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
        propagation:
          disableChecks: true
          delayBeforeChecks: 30s

providers:
  docker:
    exposedByDefault: false
    network: proxy
  file:
    directory: /etc/traefik/dynamic
    watch: true

log:
  level: INFO
