proxmox_ssh_port: 1234
proxmox_gui_port: 8006
proxmox_user: user
proxmox_debian_release: trixie

mgmt_cidrs:
  - 172.16.0.0/24
  - 10.0.0.0/24

proxmox_firewall_enable_datacenter: true
proxmox_firewall_enable_node: true
proxmox_firewall_policy_in: DROP
proxmox_firewall_policy_out: ACCEPT
proxmox_firewall_policy_forward: ACCEPT
proxmox_firewall_ebtables: true

proxmox_manage_cluster_fw: true
proxmox_manage_host_fw: true

cloudflare_token: "{{ lookup('amazon.aws.aws_ssm', '/proxmox/cloudflare/api_token', profile='ansible-ssm-reader') }}"
cloudflare_zone_id: "{{ lookup('amazon.aws.aws_ssm', '/proxmox/cloudflare/zone_id', profile='ansible-ssm-reader') }}"


cert_domain_suffix: "example.com"
cert_domain: "{{ inventory_hostname }}.{{ cert_domain_suffix }}"
cert_email: admin@example.com

# --- Ubuntu Template Configuration ---
pve_ubuntu_release: "noble"
pve_ubuntu_template_id: 9000
pve_ubuntu_template_mem: 2048
pve_ubuntu_storage_pool: "{{ pve_nvme_storage_id }}" 
pve_ubuntu_bridge: "vmbr0"


# Snippet Storage (Proxmox standard path)
pve_ubuntu_snippet_storage: "local"
pve_ubuntu_snippet_path: "/var/lib/vz/snippets"